; JD Cookie Sync to Qinglong
; 自动抓取京东 Cookie 并同步到青龙面板
; https://github.com/conversun/jd_surge

hostname = api.m.jd.com

^https?:\/\/api\.m\.jd\.com\/api url script-request-header https://raw.githubusercontent.com/guozidi/jd_surge/refs/heads/main/jd_cookie_sync.js
